<form *ngIf="form" [formGroup]="form">
  <ng-container *ngFor="let section of sections">
    <h3>{{ section.section }}</h3>
    <ng-container *ngFor="let q of section.questions">
      <div [ngSwitch]="q.type">
        <div *ngSwitchCase="'text'">
          <label>{{ q.label }}</label>
          <input [formControlName]="q.key" [placeholder]="q.placeholder" />
        </div>
        <div *ngSwitchCase="'dropdown'">
          <label>{{ q.label }}</label>
          <select [formControlName]="q.key">
            <option *ngFor="let opt of q.options" [value]="opt.value">{{ opt.label }}</option>
          </select>
        </div>
        <div *ngSwitchCase="'checkbox-group'">
          <label>{{ q.label }}</label>
          <div *ngFor="let opt of q.options">
            <input type="checkbox" [formControlName]="opt.key" /> {{ opt.label }}
          </div>
        </div>
        <!-- Environments Group -->
        <div *ngSwitchCase="'environments-group'">
          <div *ngFor="let env of q.environments">
            <ng-container *ngIf="form.get(env.key)?.value">
              <div *ngFor="let field of env.fields">
                <label>{{ field.label }}</label>
                <input [formControlName]="env.key + '_' + field.key" [placeholder]="field.label" />
              </div>
            </ng-container>
          </div>
        </div>
        <!-- Conditions Array -->
        <div *ngSwitchCase="'conditions-array'">
          <label>{{ q.label }}</label>
          <div formArrayName="{{q.key}}">
            <div *ngFor="let group of getConditionsArray(q.key).controls; let i = index" [formGroupName]="i" class="condition-group">
              <div *ngFor="let field of q.item.fields">
                <label>{{ field.label }}</label>
                <ng-container [ngSwitch]="field.type">
                  <input *ngSwitchCase="'text'" [formControlName]="field.key" [placeholder]="field.placeholder" />
                  <select *ngSwitchCase="'dropdown'" [formControlName]="field.key" (change)="field.key === 'logic' ? onLogicChange(q, i) : null">
                    <option *ngIf="field.key === 'logic'" value="NONE">(none)</option>
                    <option *ngFor="let opt of getTypeOptions(field, q)" [value]="opt.value">{{ opt.label }}</option>
                  </select>
                </ng-container>
              </div>
              <!-- <button type="button" (click)="removeCondition(q.key, i)" [disabled]="getConditionsArray(q.key).length === 1">Remove</button> -->
            </div>
            <!-- <button type="button" (click)="addCondition(q)">Add Condition</button> -->
          </div>
          <div class="condition-string">
            <strong>Condition String:</strong> {{ getFinalConditionString(q) }}
          </div>
        </div>
        <!-- Add more cases for 'group', 'array', 'time', etc. as needed -->
      </div>
    </ng-container>
  </ng-container>
</form>