<div class="dynamic-form-container">

  <!-- Subform Instances -->
  <div class="subforms-container">
    <div
      *ngFor="let instance of subformInstances; trackBy: trackByInstanceId"
      class="subform-wrapper"
      [ngClass]="'subform-' + instance.type">

      <!-- Subform Header -->
      <div class="subform-header">
        <h2>{{ instance.displayName }}</h2>
        <button
          *ngIf="instance.removable"
          (click)="removeSubformInstance(instance.id)"
          class="remove-btn"
          type="button">
          ✕ Remove
        </button>
      </div>

      <!-- Job Name Display for non-top subforms -->
      <div *ngIf="instance.type !== 'top'" class="job-name-display">
        <strong>Job Name:</strong> {{ getJobNameForInstance(instance) }}
        <div *ngIf="isJobNameTruncated(instance)" class="warning">
          Warning: Job name is limited to 60 characters and has been truncated.
        </div>
      </div>

      <!-- Dynamic Form Viewer for this subform -->
      <app-dynamic-form-viewer
        [sections]="instance.sections"
        [form]="instance.form"
        [subformContext]="instance"
        (formChange)="onSubformChange(instance)">
      </app-dynamic-form-viewer>
    </div>
  </div>


      <!-- Add Function Job Checkbox Section -->
      <div class="add-function-section" style="margin-top:2rem;">
        <label>Add Function of Job:</label>
        <div class="function-checkbox-list">
          <ng-container *ngFor="let option of availableFunctionOptions">
            <label style="margin-right: 1.5rem;">
              <input
                type="checkbox"
                [value]="option.value"
                (change)="onFunctionCheckboxChange($event, option)"
                [checked]="false"
              />
              {{ option.label }}
            </label>
          </ng-container>
        </div>
      </div>

  <!-- Debug Information (optional, remove in production) -->
  <div class="debug-section" *ngIf="false">
    <h3>Debug Info</h3>
    <pre>{{ getDebugInfo() | json }}</pre>
  </div>
</div>
