<div class="dashboard-container">
  <form (ngSubmit)="generateJIL()">
    <ng-container *ngFor="let boxJob of boxJobs.controls; let i = index">
      <app-box-job
        [boxJobForm]="toFormGroup(boxJob)"
        [namingConvention]="boxJobNaming"
        (formChange)="subscribeToBoxJobChanges(i)">
      </app-box-job>
    </ng-container>

    <ng-container *ngFor="let fw of fileWatcherJobs.controls; let i = index">
      <app-file-watcher
        [fileWatcherForm]="toFormGroup(fw)"
        [namingConvention]="fileWatcherNaming"
        (delete)="onDeleteFileWatcherJob(i)">
      </app-file-watcher>
    </ng-container>

    <ng-container *ngFor="let cmd of cmdJobs.controls; let i = index">
      <app-cmd-job
        [cmdJobForm]="toFormGroup(cmd)"
        [boxJobNaming]="boxJobNaming"
        (delete)="onDeleteCmdJob(i)">
      </app-cmd-job>
    </ng-container>

    <ng-container *ngFor="let cfw of cfwJobs.controls; let i = index">
      <app-cfw-job
        [cfwJobForm]="toFormGroup(cfw)"
        [boxJobNaming]="boxJobNaming"
        (delete)="onDeleteCfwJob(i)">
      </app-cfw-job>
    </ng-container>

    <div class="form-actions">
      <button type="button" (click)="addFileWatcherJob()">Add File Watcher Job</button>
      <button type="button" (click)="addCmdJob()">Add CMD Job</button>
      <button type="button" (click)="addCfwJob()">Add CFW Job</button>
      <button type="submit" [disabled]="isFormInvalid(boxJobs) || isFormInvalid(fileWatcherJobs) || isFormInvalid(cmdJobs) || isFormInvalid(cfwJobs)">Generate txt JIL</button>
    </div>
  </form>

  <app-jil-output
    [generatedJIL]="generatedJIL"
    [showJIL]="showJIL">
  </app-jil-output>
</div>
