<div class="dashboard-container">
  <form (ngSubmit)="generateJIL()">
    <ng-container *ngFor="let boxJob of boxJobs.controls; let i = index">
      <app-box-job 
        [boxJobForm]="toFormGroup(boxJob)"
        [namingConvention]="boxJobNaming"
        (formChange)="subscribeToBoxJobChanges(i)">
      </app-box-job>
    </ng-container>

    <ng-container *ngFor="let fw of fileWatcherJobs.controls; let i = index">
      <app-file-watcher 
        [fileWatcherForm]="toFormGroup(fw)"
        [namingConvention]="fileWatcherNaming"
        (delete)="onDeleteFileWatcherJob(i)">
      </app-file-watcher>
    </ng-container>

    <ng-container *ngFor="let dq of dqJobs.controls; let i = index">
      <app-dq-job
        [dqJobForm]="toFormGroup(dq)"
        [boxJobNaming]="boxJobNaming"
        (delete)="onDeleteDQJob(i)">
      </app-dq-job>
    </ng-container>

    <ng-container *ngFor="let ing of ingestionJobs.controls; let i = index">
      <app-ingestion-job
        [ingestionJobForm]="toFormGroup(ing)"
        [boxJobNaming]="boxJobNaming"
        (delete)="onDeleteIngestionJob(i)">
      </app-ingestion-job>
    </ng-container>

    <div class="form-actions">
      <button type="button" (click)="addFileWatcherJob()">Add File Watcher Job</button>
      <button type="button" (click)="addDQJob()">Add DQ Job</button>
      <button type="button" (click)="addIngestionJob()">Add Ingestion Job</button>
      <button type="submit" [disabled]="isFormInvalid(boxJobs) || isFormInvalid(fileWatcherJobs) || isFormInvalid(dqJobs) || isFormInvalid(ingestionJobs)">Generate txt JIL</button>
    </div>
  </form>

  <app-jil-output 
    [generatedJIL]="generatedJIL"
    [showJIL]="showJIL">
  </app-jil-output>
</div> 